---
import { Footer } from '@littlesticks/odyssey-theme-components';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import Header from '../../../components/core/Header.astro'
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';

import Breadcrumbs from '../components/Breadcrumbs.astro';

export interface Props {
	seo?: BaseHeadProps;
	link: {url: string, parent?: string, title: string};
}

import { nav } from '../config/nav.js';
import { buildBreadcrumbs } from '../config/links';

const { seo, link } = Astro.props as Props;

const breadcrumbs = link ? buildBreadcrumbs(link) : [];
---

<Layout seo={seo}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo">
			<Logo />
		</span>
	</Header>
	<div id="page">
		<Breadcrumbs breadcrumbs={breadcrumbs}></Breadcrumbs>
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    footerSocials={footerSocials}
		copyrightName={settings.name}
    showLittleSticksPlug={settings.showLittleSticksPlug}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
